.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.appWrapper {
  width: 100%;
  max-width: 390px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.number {
  text-align: center;
  font-size: 94px;
  line-height: normal;
  font-weight: 500;

  margin: 10px auto 15px;
}

.number.increase {
  color: green;
}

.number.decrease {
  color: red;
}

.number.default {
  color: black;
}